# Configuration file for MediaTarballs archiving package
# Put your S3-like API keys here (Get one at http://archive.org/account/s3.php)
[auth]
accesskey=blahblah
secretkey=blahblah

[item]
# Some Archive.org matters to settle...
# Collection to put new item in, and the mediatype it should be
collection=wikimedia-other
mediatype=web

[download]
# dldhost can be either Wikimedia or Your.org
# method can be either wget or rsync (Note: Wikimedia does not support rsync, no matter if you put rsync with Wikimedia together)
dldhost=
method=
